.Rproj.user
.Rhistory
.RData
.Ruserdata

# files
*.Rproj
*.html
# workflow testing
data-raw/current_data.rds
data-raw/new_data.rds
data-raw/localdatapull.txt

# folders
output
docs
inst/doc
/doc/
/Meta/
data-raw/old
data-raw/erddap

